# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
 
# Sensitive files
/include/ofpsvr/config.h

# Mac OS X
.DS_Store

# Autotools
.dirstamp
.deps/
.libs/
/autom4te.cache/
/configure.scan
/config.h
/Makefile
/Makefile.in
/aclocal.m4
/stamp-h1
/config.status
/compile
/configure
/depcomp
/install-sh
/missing
/ltmain.sh
/config.h.in
/test-driver
/ar-lib
/config.guess
/config.sub
/m4/
/libtool
*.tar.gz

# gcov / lcov
*.gcda
*.gcno
/coverage.info

# Miscellaneous
*.log
*~

# FIXME builds
ofpsvr
test/run
test/run.trs
/tmp

/deps/captcha/captcha
/deps/captcha/captcha.dSYM/
/deps/captcha/f.h
/deps/captcha/libcaptcha.c
/deps/captcha/test
/deps/captcha/unfont
/deps/captcha/unfont.dSYM/

/deps/libmicrohttpd/MHD_config.h
/deps/libmicrohttpd/Makefile
/deps/libmicrohttpd/config.status
/deps/libmicrohttpd/contrib/Makefile
/deps/libmicrohttpd/doc/Makefile
/deps/libmicrohttpd/doc/doxygen/Makefile
/deps/libmicrohttpd/doc/examples/Makefile
/deps/libmicrohttpd/doc/examples/basicauthentication
/deps/libmicrohttpd/doc/examples/hellobrowser
/deps/libmicrohttpd/doc/examples/largepost
/deps/libmicrohttpd/doc/examples/logging
/deps/libmicrohttpd/doc/examples/responseheaders
/deps/libmicrohttpd/doc/examples/sessions
/deps/libmicrohttpd/doc/examples/simplepost
/deps/libmicrohttpd/libmicrohttpd.pc
/deps/libmicrohttpd/libmicrospdy.pc
/deps/libmicrohttpd/libtool
/deps/libmicrohttpd/m4/Makefile
/deps/libmicrohttpd/src/Makefile
/deps/libmicrohttpd/src/examples/Makefile
/deps/libmicrohttpd/src/examples/authorization_example
/deps/libmicrohttpd/src/examples/benchmark
/deps/libmicrohttpd/src/examples/benchmark_https
/deps/libmicrohttpd/src/examples/chunked_example
/deps/libmicrohttpd/src/examples/digest_auth_example
/deps/libmicrohttpd/src/examples/dual_stack_example
/deps/libmicrohttpd/src/examples/fileserver_example
/deps/libmicrohttpd/src/examples/fileserver_example_dirs
/deps/libmicrohttpd/src/examples/fileserver_example_external_select
/deps/libmicrohttpd/src/examples/minimal_example
/deps/libmicrohttpd/src/examples/minimal_example_comet
/deps/libmicrohttpd/src/examples/post_example
/deps/libmicrohttpd/src/examples/querystring_example
/deps/libmicrohttpd/src/examples/refuse_post_example
/deps/libmicrohttpd/src/examples/spdy_event_loop
/deps/libmicrohttpd/src/examples/spdy_fileserver
/deps/libmicrohttpd/src/examples/spdy_response_with_callback
/deps/libmicrohttpd/src/include/Makefile
/deps/libmicrohttpd/src/microhttpd/Makefile
/deps/libmicrohttpd/src/microhttpd/microhttpd_dll_res.rc
/deps/libmicrohttpd/src/microhttpd/test_daemon
/deps/libmicrohttpd/src/microhttpd/test_daemon.trs
/deps/libmicrohttpd/src/microhttpd/test_postprocessor
/deps/libmicrohttpd/src/microhttpd/test_postprocessor.trs
/deps/libmicrohttpd/src/microhttpd/test_postprocessor_amp
/deps/libmicrohttpd/src/microhttpd/test_postprocessor_amp.trs
/deps/libmicrohttpd/src/microhttpd/test_postprocessor_large
/deps/libmicrohttpd/src/microhttpd/test_postprocessor_large.trs
/deps/libmicrohttpd/src/microspdy/Makefile
/deps/libmicrohttpd/src/platform/Makefile
/deps/libmicrohttpd/src/spdy2http/Makefile
/deps/libmicrohttpd/src/spdy2http/microspdy2http
/deps/libmicrohttpd/src/testcurl/Makefile
/deps/libmicrohttpd/src/testcurl/https/Makefile
/deps/libmicrohttpd/src/testcurl/perf_get
/deps/libmicrohttpd/src/testcurl/perf_get_concurrent
/deps/libmicrohttpd/src/testcurl/test_callback
/deps/libmicrohttpd/src/testcurl/test_concurrent_stop
/deps/libmicrohttpd/src/testcurl/test_digestauth
/deps/libmicrohttpd/src/testcurl/test_digestauth_with_arguments
/deps/libmicrohttpd/src/testcurl/test_get
/deps/libmicrohttpd/src/testcurl/test_get.trs
/deps/libmicrohttpd/src/testcurl/test_get11
/deps/libmicrohttpd/src/testcurl/test_get_chunked
/deps/libmicrohttpd/src/testcurl/test_get_response_cleanup
/deps/libmicrohttpd/src/testcurl/test_get_sendfile
/deps/libmicrohttpd/src/testcurl/test_get_sendfile.trs
/deps/libmicrohttpd/src/testcurl/test_get_sendfile11
/deps/libmicrohttpd/src/testcurl/test_iplimit11
/deps/libmicrohttpd/src/testcurl/test_large_put
/deps/libmicrohttpd/src/testcurl/test_large_put11
/deps/libmicrohttpd/src/testcurl/test_long_header
/deps/libmicrohttpd/src/testcurl/test_long_header11
/deps/libmicrohttpd/src/testcurl/test_options
/deps/libmicrohttpd/src/testcurl/test_parse_cookies
/deps/libmicrohttpd/src/testcurl/test_post
/deps/libmicrohttpd/src/testcurl/test_post11
/deps/libmicrohttpd/src/testcurl/test_post_loop
/deps/libmicrohttpd/src/testcurl/test_post_loop11
/deps/libmicrohttpd/src/testcurl/test_postform
/deps/libmicrohttpd/src/testcurl/test_postform11
/deps/libmicrohttpd/src/testcurl/test_process_arguments
/deps/libmicrohttpd/src/testcurl/test_process_headers
/deps/libmicrohttpd/src/testcurl/test_put
/deps/libmicrohttpd/src/testcurl/test_put.trs
/deps/libmicrohttpd/src/testcurl/test_put11
/deps/libmicrohttpd/src/testcurl/test_put_chunked
/deps/libmicrohttpd/src/testcurl/test_quiesce
/deps/libmicrohttpd/src/testcurl/test_start_stop
/deps/libmicrohttpd/src/testcurl/test_start_stop.trs
/deps/libmicrohttpd/src/testcurl/test_termination
/deps/libmicrohttpd/src/testcurl/test_timeout
/deps/libmicrohttpd/src/testcurl/test_urlparse
/deps/libmicrohttpd/src/testcurl/test_urlparse.trs
/deps/libmicrohttpd/src/testspdy/Makefile
/deps/libmicrohttpd/src/testspdy/test_daemon_start_stop
/deps/libmicrohttpd/src/testspdy/test_daemon_start_stop.trs
/deps/libmicrohttpd/src/testspdy/test_daemon_start_stop_many
/deps/libmicrohttpd/src/testspdy/test_daemon_start_stop_many.trs
/deps/libmicrohttpd/src/testspdy/test_struct_namevalue
/deps/libmicrohttpd/src/testspdy/test_struct_namevalue.trs
/deps/libmicrohttpd/src/testzzuf/Makefile
/deps/libmicrohttpd/stamp-h1
